.moviedetails {
  padding: 2rem;
  font-size: 1.5rem;
}

.moviedetails .mainImg {
  width: 185px;
  margin: 2rem;
  border-radius: 1.2rem;
  border: 3px solid #cab9b9;
}

.moviedetails img {
  margin: 1rem;
  border-radius: 1.2rem;
  border: 1px solid #cab9b9;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.flex h3 span {
  color: #b00000;
}

hr {
  border: none;
  border-bottom: 3px solid #b00000;
}

.infos .runtime {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  margin: 3px 0 10px;
}

.sinopsis {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 15px;
}

.tagline {
  width: 100%;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin: 5px 0 10px;
}

.data {
  margin: 10px;
}

.button {
  font-size: 1.2rem;
  border: none;
  background-color: #b00000;
  color: #fff;
  border-radius: 10px;
  padding: 7px 10px;
}

.button:hover {
  background-color: #fff;
  color: #b00000;
  filter: drop-shadow(4px 5px 8px rgba(0, 0, 0, 0.25));
}

.movielike-container {
  margin: 20px 0;
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .moviedetails {
    width: 90vw;
    margin: 0 auto;
    font-size: 1.7rem;
  }

  .moviedetails .mainImg {
    width: 300px;
  }

  .infos {
    width: 80vw;
    margin: 0 auto;
  }

  .flex h3 {
    font-size: clamp(2.3rem, 3vw, 3.5rem);
  }

  hr {
    width: 80vw;
    margin: 0 auto;
  }

  .infos .runtime {
    font-size: 2rem;
  }

  .tagline {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .moviedetails {
    margin: 0 auto;
    font-size: 1.7rem;
  }

  .moviedetails .mainImg {
    width: 300px;
  }

  .infos {
    margin: 2rem 4rem;
    font-size: 1.8rem;
  }

  hr {
    border-bottom: 5px solid #b00000;
  }

  .flex {
    flex-direction: row;
  }

  .infos .runtime {
    font-size: 2rem;
  }

  .flex h3 {
    font-size: clamp(2.3rem, 3vw, 3.3rem);
  }

  .tagline {
    font-size: 1.8rem;
    font-weight: 600;
  }

  .data {
    margin: 40px 0 0;
  }
}

@media only screen and (min-width: 1200px) {
  .moviedetails {
    width: 85vw;
  }

  .infos .runtime {
    font-size: 2.5rem;
  }

  .tagline {
    font-size: 2.1rem;
  }

  .sinopsis {
    font-size: 1.9rem;
  }

  .data {
    margin: 50px 0 0;
  }

  .button {
    font-size: 2rem;
    padding: 7px 15px;
    margin: 10px 0;
  }
}
