.side-drawer {
  height: 94%;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70%;
  max-width: 230px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.2s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.8rem 0;
}

.side-drawer a {
  color: #b00000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  line-height: 5rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: black;
}

@media (min-width: 576px) {
  .side-drawer a {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media (min-width: 1200px) {
  .side-drawer a {
    font-size: 35px;
  }
}
