.searchbar {
  width: 75vw;
  max-width: 800px;
  height: clamp(3rem, 5vw, 6rem);
  border: 2px solid #cab9b9;
  border-radius: clamp(10px, 2vw, 20px);
  display: flex;
  align-items: center;
  justify-content: left;
}

.searchbar img {
  width: 30px;
  height: auto;
  color: #cab9b9;
  margin-right: 10px;
}

.searchbar .searchInput {
  text-align: center;
  font-size: clamp(1.3rem, 2vw, 2.5rem);
  width: 100%;
  height: clamp(2.7rem, 4.7vw, 5.7rem);
  border: none;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

.searchbar .searchInput:focus {
  outline: none;
  border: 3px solid #b00000;
  border-radius: clamp(10px, 2vw, 20px);
}

.secondaryBtn {
  width: clamp(85px, 12vw, 200px);
  font-size: clamp(1.3rem, 2vw, 3rem);
  font-weight: 500;
  background-color: #b00000;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.secondaryBtn:hover {
  background-color: white;
  color: #b00000;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}
