* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: "Poppins", Helvetica, sans-serif;
  color: #cab9b9;
}

html,
body {
  width: 100vw;
}

a {
  text-decoration: none;
  color: #cab9b9;
}

.App {
  text-align: center;
}
